<section class="block block-posts-preview" id="posts-preview">
  <div class="container">
    <div class="columns">

      {% for post in site.posts %}

      <div class="column">

        <h3><a class="posts-preview" href="{{ post.url }}">{{ post.headline }}</a></h3>
        <div class="column media">
          <img src="{{ post.media.image | relative_url }}" alt="{{ post.media.alt_text }}">
        </div>

        <div class="column text">
          <p>{{ post.excerpt | truncate: 200 }}</p>
        </div>

      </div>

      {% endfor %}

      </div>
  </div>
</section>
